<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="home">Home</a></li>
      <li><a href="products">Products</a></li>
      <li><a href="admin">Page 3</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">Already have an account?</p></li>
      <li><a href="login"><b>Login</b> <span class="caret"></span></a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
